.ellipsisWithin{
  height: 6px; border-radius: 3px;
  /* background: #B588FF; */
}
ul li:nth-child(odd) .ellipsisWithin{
  background-color: #8766FD;
}
ul li:nth-child(even) .ellipsisWithin{
  background-color: #FFA800;
}

.tit{
  font-size: 0.15rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  /* word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
}

.tit>img{
  width: 0.17rem;
  height: 0.15rem;
  margin-right: 0.04rem;
}
.ellipsisWithin{
  height: 0.12rem;
}
.gdclt{
  height: 0.08rem !important;
}
.aaa{
  background: url(../images/newImage/iconUp.png) no-repeat ;
  background-size: 0.225rem 0.225rem;
  background-position:98% 120%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  margin-top: 0.195rem;
}
.bbb{
  padding-right: 10%;
  background: url(../images/newImage/iconup.png) no-repeat ;
  background-size: 0.225rem 0.225rem;
  background-position:98% 0.14rem;
  margin-top: 0.195rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}


/* 封面 */
.cover{
  width: 100%;
  background: url(../images/bg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  /* height: 100%; */
}
.title_1{
  width: 90%;
  height: 0.45rem;
  margin-left: 5%;
  margin-top: 0.355rem;
  /* background: red; */
  background: url(../images/img/title.png) no-repeat;
  background-size: 100% 100%;
}
.roll_8{
  margin-bottom: 0.2rem;
}
#map1{
  position: relative;
}
#map{
  height: 5rem;
  width: 100%;
  /* background: red; */
}

.xdt{
  height: 0.40rem;
  z-index: 99999;
  width: 60%;
  /* background: pink; */
  position: absolute;
  top: 65%;
  left: 40%;
  display: flex;
  font-size: 0.16rem;
  /* z-index: 10000; */
  color: #fff;
}
.xdt>div{
  height: 100%;
  width: 33%;
  /* background: red; */
}
.xdt>div>p{
  height: 0.40rem;
  line-height: 0.30rem;
  font-size: 0.15rem;
  margin: 0;
  padding-left: 0.2rem;
  background: url(../images/img/yuan.png) no-repeat;
  background-size: 0.075rem 0.075rem;
  background-position: 16% 39%;
}
.xdt>div:nth-of-type(1){
  background: url(../images/img/map1.png) no-repeat no-repeat;
  background-size: 0.425rem 100%;
}
.xdt>div:nth-of-type(2){
  background: url(../images/img/map2.png) no-repeat no-repeat;
  background-size: 0.425rem 100%;
}
.xdt>div:nth-of-type(3){
  background: url(../images/img/map3.png) no-repeat no-repeat;
  background-size: 0.425rem 100%;
}


.up{
  width: 100%;
  font-size: 0.16rem;
  position: absolute;
  /* bottom: 0.565rem; */
  top: 76%;
}
.up>p:nth-of-type(1){
  display: block;
  width: 100%;
  margin: 0;
  height: 0.5rem;
  background: url(../images/img/09.gif) no-repeat;
  background-position: 50%;
  background-size: 0.24rem 0.25rem;
}
.up>p:nth-of-type(2){
  color: #D6E0FF;
  font-size: 0.16rem;
  text-align: center;
  margin: 0;
}
.up>p:nth-of-type(3){
  color: #78797c;
  font-size: 0.13rem;
  text-align: center;
  margin: 0;
  margin-top: 0.075;
}
span{
  font-family: sans-serif;
  /* position: fixed; */
  /* z-index: 9999; */
}
.roll_9{
  display: none;
}

